[submodule "https:/github.com/squillero/computational-intelligence/tree/master/project/hanabi"]
	path = https:/github.com/squillero/computational-intelligence/tree/master/project/hanabi
	url = https://github.com/squillero/computational-intelligence
[submodule "comput-int"]
	path = comput-int
	url = https://github.com/squillero/computational-intelligence
